<div class="container">
  <div class="row">
    <div class="d-flex">
      <h4>商品一覧</h4>
      <%= link_to '＋', new_admin_item_path %>
    </div>

    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
            <td><%= item.item_jenre.name %></td>
            <td><%= item.status %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>