<div class="container">
  <div class="row">
    <%= render 'public/items/sidebar', genres: @genres %>
    <div class="col-md-9">
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>

      <h4><b>新着商品</b></h4>
        <% @new_items.each do |item| %>
          <div class="d-inline-flex">
            <div class="">
              <%= link_to item_path(item) do %>
                <%= image_tag item.item_image, size: "190x150" %>
              <% end %><br>
              <%= item.name %><br>
              ¥<%= item.price %>
            </div>
          </div>
        <% end %>
        <div class="d-flex">
          <div class="ml-auto">
            <%= link_to '全ての商品を見る＞', items_path %>
          </div>
        </div>
    </div>
  </div>
</div>
